
h1{
text-decoration-line: underline;
text-align: right bottom;
padding-bottom: 0cm;
}
body{
    background-color: rgb(166, 237, 237);
}
.aside{
    text-align: center;
    text-decoration: double;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-weight:bold;
}
table{
    box-sizing: border-box;
    font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2px solid #0a0a0a;
  padding: 18px;
}

.css {
  background-color: #e08080;
  
}
.html{
    background-color: rgb(48, 191, 202);
}
.javascript{
    background-color: rgb(110, 177, 236);
}
iframe{

margin: auto;
}
.footer{
    font-size: larger;
    font-family: cursive;
    text-align: center;
    font-weight: 1200;
    font-display: rgb(206, 14, 14);
}